.purchases__container{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  /* border: 1px black dashed; */
  height: auto;

}

.purchaseItem{
  width: 200px;
  height: 100px;
  border-radius: 0.5em;
  background-color: var(--principal);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--reverse);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: 0.3s;

}

.purchaseItem:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.purchases__full__container{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#purchase__in{
  width: 300px;
  height: 100px;
}