.flip-vertical-right {
	animation: flip-vertical-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.hola{
    width: 500px;
    height: 400px;
    background-color: aqua
}

 @keyframes flip-vertical-right {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  