.side__bar {
    width: 250px;
    /* border: 1px red dashed; */
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 5em 2em;
    background: var(--bg);
    transition: .5s;
}

.hidden__sidebar{
    margin-left: -250px;
    transition: .5s;
}



.filter__line{
    border: 0.02px var(--text) solid;
    margin: 3px 0;
}

.filter__category > ul{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.filter__category > ul > li{
    cursor: pointer;
}

.filter__content{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.filter__content > input{
    overflow: hidden;
    max-width: 100px;
    height: 19px;
    padding: 0 5px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 0;
    border: 0.4px solid var(--text);
    padding-right: 0;
    background-color: transparent;
}

.filter__content > label{
    color: var(--text);
}

.filter__types{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.filter__price > h4, .filter__category > h4{
    color: var(--principal);
}
.filter__category > ul > li{
    color: var(--text);
}

.filter__category > ul > li:hover{
    color: var(--principal);
    transition: 0.2s;
}