* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --principal: #e63946ff;
  --bg: #ffffff6d;
  --text: #000000;
  --button-text: #ffffff;
  --main-bg: #fff;

  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;

}

.App.dark {
  --principal: #a8dadcff;
  --bg: #1d3557ff;
  --text: #ffffff;
  --button-text: #ffffff;
  --main-bg: #457b9d;

  --powder-blue: ;
  --card-blue: #457b9dff;

  transition: 1s;
}

li {
  list-style: none;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--principal);
  border: solid 2px var(--principal);
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .1);

}

button:hover {
  color: var(--button-text);
  background-color: var(--principal);
  transition: 0.2s;
}

.main {
  /* border: 1px dashed rebeccapurple; */
  padding: 4.5em 2em;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
}

@media (max-width: 550px) {

  .side__bar{
    min-width: 170px;
  }

  ul>.line {
    display: none;
  }

  .header__nav ul{
    gap: 1em;
  }

  .header__item > .fi-rr-filter{
    display: flex;
}

.filter__content > input{
  width: 50px;
}
}